<h1>Article</h1>
Title : <%=@article.title%><br>
Description : <%=@article.description%>
<br>
<hr>
<h1>All Comments </h1><hr>
<% if user_signed_in? %>
	<%if current_user.email == @email%>
		<% @comment.each do |allcomments|%>
			Commenter Name: <%=allcomments.name%><br>
			Comment Description: <%=allcomments.description%><br><hr>
		<%end%>
	<%else%>
		<% @comment.each do |allcomments|%>
			<% if allcomments.c_approval_status == "1" %>
				Commenter Name: <%=allcomments.name%><br>
				Comment Description: <%=allcomments.description%><br><hr>
			<% end %>
		<%end%>
	<%end%>
<%else%>
		<% @comment.each do |allcomment|%>
			<% if allcomment.c_approval_status.to_i == 1%>
				Commenter Name: <%=allcomment.name%><br>
				Comment Description: <%=allcomment.description%><br><hr>
			<% end %>
		<%end%>
	<%end%>
<%= will_paginate @comment %>
	<%= link_to "Show all Articles", articles_path%>
<h2>Make Comment</h2>

<%= render 'form' %>

