<h1>Article</h1>
Title : <%=@article.title%><br>
Description : <%=@article.description%>
<div id='fb-root'></div>
	<script src='http://connect.facebook.net/en_US/all.js'></script>
	<p><a onclick='postToFeed(); return false;'><span id = "sharebutton"></span></a></p>

	<script> 
	  FB.init({appId: "111715892321751", status: true, cookie: true});

	  function postToFeed() {
	 
		// calling the API ...
		var obj = {
		  method: 'feed',
		  link: 'http://localhost:3000/articles/<%=@article.id%>/comments/new/',
		  picture: 'http://fbrell.com/f8.jpg',
		  caption: '<%=@article.title%>',
		  description: '<%=@article.description%>'
		};

		function callback(response) {
		  document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
		}

		FB.ui(obj, callback);
	  }
	
	</script>
	<div class="fb-like" data-send="true" data-width="450" data-show-faces="true" data-font="verdana"></div>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=111715892321751";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>		
<br>
<hr>
<h1>All Comments </h1>
<div class="background_comment">
	<% if user_signed_in? %>
		<%if current_user.email == @email%>
			<table>
				<% @comment.each do |allcomments|%>
						<tr >
							<td  width="60%" id = "inside_comment" style ="border-bottom: 2px solid #000000;">
								
									Commenter Name: <%=allcomments.name%><br>
									Comment Description: <%=allcomments.description%>
								
							</td>
							<td width ="40%" style ="border-bottom: 2px solid #000000; text-align: right;">
								
									 <%= time_ago_in_words(allcomments.created_at)%>
									
													
						</td>
						</tr >
				<%end%>
			</table>
		<%else%>
			<% @comment.each do |allcomments|%>
				<% if allcomments.c_approval_status == "1" %>
					Commenter Name: <%=allcomments.name%><br>
					Comment Description: <%=allcomments.description%><br>
				<% end %>
			<%end%>
		<%end%>
	<%else%>
			<% @comment.each do |allcomment|%>
				<% if allcomment.c_approval_status.to_i == 1%>
					Commenter Name: <%=allcomment.name%><br>
					Comment Description: <%=allcomment.description%><br>
				<% end %>
			<%end%>
		<%end%>
</div>
<%= will_paginate @comment %>
	<%= link_to "Show all Articles", articles_path%>
<h2>Make Comment</h2>

<%= render 'form' %>
<style>
.background_comment
{
		background-color: #EDEFF4;
		border-radius: 5px 5px 5px 5px;
		max-width: 60%;
}
#inside_comment
{
#max-width: 77%;
    padding: 8px 21px 1px;
}
#datelocation{background-color: red;}
#test{float: right;padding: 23px 20px 1px;}
#sharebutton{background-image: url("/assets/fbshare.png");
    background-position: 0 center;
    background-size: 76px auto;
    border-radius: 5px 5px 5px 5px;
    float: right;
    padding: 25px 38px 1px;
    position: relative;
    right: 30px;
    top: -15px;}
</style>


